@tailwind base;
@tailwind components;
@tailwind utilities;





.max-image {
    width: 100%;
}

.title-container {
    
    text-align: center;
    color: white; /* Text color for the title */
    padding: 10px; /* Adjust padding for spacing */
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }